<p>
  <b>First name</b><br />
  <%= profile_first_name_value %>
</p>
<p>
  <b>Last name</b><br />
  <%= profile_last_name_value %>
</p>
<p>
  <b>Email</b><br />
  <%= profile_email_value %>
</p>
<p>
	<b><span>L</span>ogin</b><br />
  <%= user_login_value %>
</p>

<% unless @action_name == "show" -%>
	<p id="password">
		<% if @user.new_record? %>
			<%= render :partial => "password" %>
		<% else %>
			<a href="#" onclick="change_password()">Change Password</a><br/>
		<% end %>
	</p>
<% end -%>

<p>
  <b>User Groups</b><br />
  <%= user_user_groups_value %>
</p>

